@mixin bgformat {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
@mixin overlay{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
}
@mixin button{
    padding: .375rem .75rem;
    padding-top: 0.375rem;
    padding-right: 0.75rem;
    padding-bottom: 0.375rem;
    padding-left: 0.75rem;
    font-weight: bold;
    line-height: 1.6rem;
    vertical-align: middle;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 700;
    user-select: none;
    border: 1px solid $cim-color;
    border-radius: 10px;
}