.clients{
    width: 100vw;
    height: 140px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.clients .container{
    display: flex;
    height: inherit;
    justify-content: start;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    &::-webkit-scrollbar{
        display: none;
    }
}

.clients-box img{
    filter: grayscale(100%);
    width: 180px;
    padding: 0 20px;
}
.clients-box img:hover{
    filter: grayscale(0);
    transition: 0.3s;
}