.service--box__card, .product--box__card{
    display: flex;
    width: 240px;
    min-width: 240px;
    height: 190px;
    margin: 10px 15px;
    padding: 15px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid $cim-color;
    border-radius: 12px;
    background: white;
}
.card--header{
    margin: 0 auto;
    padding: 12px 0;
    font-size: 2.6rem;
    line-height: 2.6rem;
    color: $cim-color;
    border: transparent;
}
.card--body{
    h1{
        margin: 0 auto;
        font-size: 1.3rem;
        line-height: 1.4rem;
        font-weight: 400;
        text-align: center;
        border: transparent;
        padding: 0 20px 15px 20px;
    }
}