.navbar {
    width: 100vw;
    height: fit-content;
}
.navbar{
    .container-fluid{
        padding: 0 !important;
    }
}
.navbar {
    .container-fluid {
        .navbar-brand {
            display: flex;
            align-items: center;
            padding: 3px 12px;
        }
    }
}
.navbar-brand{
    .navbar-brand__image img{
        width: 70px;
        margin-left: 10px;
    }
}
.navbar{
    .container-fluid{
        .navbar-toggler{
            font-size: 1rem;
            margin-right: 20px;
            padding: 3px;
            border: 1px solid $cim-color !important;
            border-radius: 7px;
        }
    }
}
.container-fluid{
    .navbar-toggler{
        .navbar-toggler-icon{
            padding: 8px;
        }
    }
}
.navbar-nav {
    margin-left: auto !important;
    display: flex;
}
.navbar-nav{
    .nav-item{
        .nav-link{
            width: fit-content;
            display: flex;
            flex-direction: column;
            padding-left: 40px;
            font-size: 0.7rem;
            font-weight: bold;
            letter-spacing: 1px;
            text-transform: uppercase;
            &:after{
                content: '';
                width: 0%;
                margin-top: 3px;
                height: 3px;
                left: 0;
                background: $cim-color;
            }
            &:hover::after{
                width: 100%;
                transition: 0.2s;
            }
        }
    }
}
.navbar-nav{
    .nav-item{
        &:nth-child(1){
            margin-top: 15px;
        }
    }
}
.nav-phone{
    font-size: 1.2rem;
    margin-right: 10px;
}