*, *:after, *:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, strong {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}

a, p, span, ul, li {
  font-family: "Nunito", sans-serif;
}

.btn-cim, .btn-cim__white, .btn-contact {
  background: white;
  color: #1aa7eec4;
  padding: 0.375rem 0.75rem;
  padding-top: 0.375rem;
  padding-right: 0.75rem;
  padding-bottom: 0.375rem;
  padding-left: 0.75rem;
  font-weight: bold;
  line-height: 1.6rem;
  vertical-align: middle;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 1px solid #1aa7eec4;
  border-radius: 10px;
}
.btn-cim:hover, .btn-cim__white:hover, .btn-contact:hover {
  color: white;
  background: #1aa7eec4;
  border: 1px solid #1aa7eec4;
}

.btn-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 170px;
  width: 10px;
  padding: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: gray;
  font-size: 1.1rem;
  background: rgba(0, 0, 0, 0.1);
  z-index: 20;
}
.btn-slide:hover {
  color: white;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.btnx1, .btnx2, .btnx3, .btnx4 {
  position: absolute;
}

.btnx1, .btnx3 {
  border-radius: 15px 0 0 15px;
  left: 0;
}

.btnx2, .btnx4 {
  border-radius: 0 15px 15px 0;
  right: 0;
}

.objetives {
  width: 200px;
}

.navbar {
  width: 100vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.navbar .container-fluid {
  padding: 0 !important;
}

.navbar .container-fluid .navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3px 12px;
}

.navbar-brand .navbar-brand__image img {
  width: 70px;
  margin-left: 10px;
}

.navbar .container-fluid .navbar-toggler {
  font-size: 1rem;
  margin-right: 20px;
  padding: 3px;
  border: 1px solid #1aa7eec4 !important;
  border-radius: 7px;
}

.container-fluid .navbar-toggler .navbar-toggler-icon {
  padding: 8px;
}

.navbar-nav {
  margin-left: auto !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar-nav .nav-item .nav-link {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 40px;
  font-size: 0.7rem;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.navbar-nav .nav-item .nav-link:after {
  content: "";
  width: 0%;
  margin-top: 3px;
  height: 3px;
  left: 0;
  background: #1aa7eec4;
}
.navbar-nav .nav-item .nav-link:hover::after {
  width: 100%;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.navbar-nav .nav-item:nth-child(1) {
  margin-top: 15px;
}

.nav-phone {
  font-size: 1.2rem;
  margin-right: 10px;
}

.carousel {
  position: relative;
  width: 100vw;
}

.carousel .carousel-item {
  height: 90vh;
}

.carousel-inner__body h1 {
  font-size: 1.9rem;
}

.carousel .carousel-item img {
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: inherit;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.carousel-inner__body {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 20px 30px;
}

.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.carousel .carousel-inner__body .hero-icon {
  width: 80px;
  margin: -50px auto 10px auto;
}

.carousel-inner__body h1, .carousel-inner__body p {
  color: white;
  text-align: center;
  padding: 0 10px;
}

.service--box__card, .product--box__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 240px;
  min-width: 240px;
  height: 190px;
  margin: 10px 15px;
  padding: 15px 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #1aa7eec4;
  border-radius: 12px;
  background: white;
}

.card--header {
  margin: 0 auto;
  padding: 12px 0;
  font-size: 2.6rem;
  line-height: 2.6rem;
  color: #1aa7eec4;
  border: transparent;
}

.card--body h1 {
  margin: 0 auto;
  font-size: 1.3rem;
  line-height: 1.4rem;
  font-weight: 300;
  text-align: center;
  border: transparent;
  padding: 0 20px 15px 20px;
}

.clients {
  width: 100vw;
  height: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clients .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: inherit;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
  overscroll-behavior-x: contain;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
}
.clients .container::-webkit-scrollbar {
  display: none;
}

.clients-box img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  width: 180px;
  padding: 0 20px;
}

.clients-box img:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about .container h2 {
  font-size: 1.8rem;
  color: #2c2828;
}

.about .container {
  padding: 35px 30px;
  text-align: center;
}

.multi-collapse .card-body {
  text-align: left;
}

.about--container__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .card-body {
  margin-top: 14px;
  border-radius: 12px !important;
  width: 260px;
  min-width: 260px;
  margin: 0 auto;
}

.productsNservices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100%;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 35px 0 75px 0;
  background: #f7f7f7;
}

.pNs--container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.productsNservices .products h2, .productsNservices .services h2 {
  width: 100%;
  margin: 40px auto 10px;
  font-size: 2rem;
  color: #2c2828;
  text-align: center;
}

.products--container, .services--container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: scroll;
  padding: 0 22px;
  overflow-y: hidden;
  overscroll-behavior-x: content;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
}
.products--container::-webkit-scrollbar, .services--container::-webkit-scrollbar {
  display: none;
}

.btnx1, .btnx3 {
  margin: 20px 0 0 8px;
}

.btnx2, .btnx4 {
  margin: -189px 4px 0 0;
}

.benefits {
  width: 100vw;
  height: 100%;
  padding: 40px 20px;
  background-image: url("images/bg4.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.benefits--overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.benefits--overlay .benefits--box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 220px;
  height: 200px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: white;
}
.benefits--overlay .benefits--box #fa1, .benefits--overlay .benefits--box #fa2, .benefits--overlay .benefits--box #fa3, .benefits--overlay .benefits--box #fa4 {
  width: 200px;
  font-size: 3.2rem;
  top: 0;
  position: absolute;
  margin-top: 40px;
}

.benefits--box > h3 {
  width: 200px;
  font-size: 1.3rem;
  font-weight: 100;
  position: absolute;
  top: 0;
  bottom: 0;
  margin-top: 120px;
  padding: 0 10px;
}

.projects {
  width: 100vw;
  height: 100%;
  background-image: url("images/bg5.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.projects .projects--container {
  padding: 60px 20px;
  background: rgba(0, 0, 0, 0.2) !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.projects .projects--container h2 {
  width: 100%;
  margin-bottom: 20px;
  font-size: 2rem;
  color: white;
  text-align: center;
}

.projects--cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.projects--cards {
  display: inherit;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.projects--cards .card {
  width: 230px !important;
  margin: 30px;
  border-radius: 17px;
  border: transparent;
}
.projects--cards .card img {
  width: 230px;
  border-radius: 17px 17px 0 0;
}
.projects--cards .card .card-body {
  color: black;
  background: #1aa7eec4;
  width: 230px;
  border-radius: 0 0 17px 17px;
  z-index: 20;
}
.projects--cards .card .card-body p {
  color: white;
}
.projects--cards .card:hover {
  -webkit-transform: scale3d(1.2, 1.2, 1);
          transform: scale3d(1.2, 1.2, 1);
  -webkit-transition: 1s;
  transition: 1s;
}

.projects--cards p {
  font-size: 0.8rem;
  font-weight: 900;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: white;
  text-align: center;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100%;
}

.contact .container-fluid {
  display: inherit;
  width: inherit;
  height: inherit;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 60px 30px;
}

.contact .container-fluid h2 {
  font-weight: 800;
  font-size: 1.7rem;
  text-align: center;
  text-transform: uppercase;
  color: #2c2828;
}
.contact .container-fluid p {
  font-size: 1rem;
  text-align: center;
  line-height: 1rem;
  text-align: center;
}

@media (min-width: 374px) and (orientation: portrait) {
  .about .card-body {
    width: 270px;
  }

  .products--container, .services--container {
    padding: 0 45px;
  }
}
@media (min-width: 424px) and (orientation: portrait) {
  .carousel .carousel-item {
    height: 95vh;
  }

  .about .card-body {
    width: 315px;
  }
}
@media (min-width: 764px) {
  .about--container__buttons {
    width: 100%;
    margin: 0 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .about .card-body {
    width: 480px;
  }

  .objetives {
    margin: auto 10px;
  }

  .benefits--overlay {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .benefits--box {
    height: 190px !important;
  }
  .benefits--box #fa1, .benefits--box #fa2, .benefits--box #fa3, .benefits--box #fa4 {
    width: 200px;
    font-size: 2.8rem;
    margin: 20px 0 0 0 !important;
  }

  .benefits--box > h3 {
    font-size: 1.2rem;
    width: 150px;
    margin-top: 80px;
  }

  .projects .projects--container {
    padding: 60px 20px;
    background: rgba(0, 0, 0, 0.3);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .projects--cards {
    display: inherit;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .projects--cards .card {
    width: 200px !important;
    margin: 30px;
    border-radius: 17px;
    border: transparent;
  }
  .projects--cards .card img {
    width: 200px;
    border-radius: 17px 17px 0 0;
  }
  .projects--cards .card .card-body {
    color: black;
    background: #1aa7eec4;
    width: 200px;
    border-radius: 0 0 17px 17px;
    z-index: 20;
  }
  .projects--cards .card .card-body p {
    color: white;
  }
  .projects--cards .card:hover {
    -webkit-transform: scale3d(1.2, 1.2, 1);
            transform: scale3d(1.2, 1.2, 1);
    -webkit-transition: 1s;
    transition: 1s;
  }
}
@media (min-width: 1023px) {
  .navbar-nav {
    margin-right: 50px;
  }

  .navbar-nav .nav-item .nav-link {
    font-size: 0.9rem;
    padding: 20px 12px 12px 20px;
  }

  .navbar-nav .nav-item:nth-child(1) {
    margin-top: 0;
  }

  .carousel .carousel-item {
    height: 90vh;
  }

  .carousel-inner__body h1 {
    font-size: 2.4rem;
  }

  .carousel-inner__body p {
    font-size: 1.3rem;
  }

  .btn-cim {
    width: 130px;
    text-align: center;
  }

  .about--container__buttons {
    margin-bottom: 20px;
  }

  .about .card-body {
    width: 630px;
    border: none !important;
  }

  .productsNservices {
    width: 100vw !important;
  }

  .projects--cards .card {
    width: 280px !important;
    margin: 30px;
    border-radius: 17px;
    border: transparent;
  }
  .projects--cards .card img {
    width: 280px;
    border-radius: 17px 17px 0 0;
  }
  .projects--cards .card .card-body {
    color: black;
    background: #1aa7eec4;
    width: 280px;
    border-radius: 0 0 17px 17px;
    z-index: 20;
  }
  .projects--cards .card .card-body p {
    color: white;
  }
  .projects--cards .card:hover {
    -webkit-transform: scale3d(1.2, 1.2, 1);
            transform: scale3d(1.2, 1.2, 1);
    -webkit-transition: 1s;
    transition: 1s;
  }

  .benefits--box {
    margin: 0 25px;
  }
}
@media (min-width: 1439px) {
  .benefits--box {
    margin: 0 35px;
  }
}
/*# sourceMappingURL=main.css.map */